.u-section-1 .u-sheet-1 {
  min-height: 147px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 150px;
}
/*
.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/

.u-section-2 .u-btn-1 {
  margin: 20px auto 0 20%;
  padding: 2px 30px;
}

.u-section-2 .u-shape-1 {
  width: 19px;
  height: 17px;
  margin: -23px auto 0 171px;
}

.u-section-2 .u-text-2 {
  margin: -1px auto 0 360px;
}

.u-section-2 .u-text-3 {
  margin: -3px 958px 0 15px;
}

.u-section-2 .u-text-4 {
  margin: -172px auto 0 392px;
}

.u-section-2 .u-table-1 {
  width: 80.5%;
  margin: 30px 44px 0 10%;
}

.u-block-89e9-7 {
  border-style: dotted;
}

.u-block-89e9-10 {
  border-style: dotted;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-2 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  padding: 10px 20px;
  background-color: #292D33;
}

.u-section-2 .u-table-cell-4 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-5 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-6 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-89e9-28 {
  background-image: none;
}

.u-block-89e9-30 {
  padding: 10px 20px;
}

.u-block-89e9-31 {
  padding: 10px 20px;
}

.u-section-2 .u-image-1 {
  width: 512px;
  height: 512px;
  margin: 20px auto 0 23%;
  float: left;

}

.u-section-2 .u-image-2 {
  width: 512px;
  height: 512px;
  margin: 24px auto 0 291px;
}

.u-section-2 .u-group-1 {
  width: 157px;
  min-height: 126px;
  height: auto;
  margin: -325px auto 0 119px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 2px;
}

.u-section-2 .u-text-5 {
  font-size: 0.75rem;
  margin: 5px 50px 0 30px;
}

.u-section-2 .u-text-6 {
  margin: 15px 85px 60px 759px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 343px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 297px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 772px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 323px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -247px;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -7px;
    margin-right: 0;
    margin-left: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 227px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 552px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -147px;
    margin-left: 247px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -5px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -406px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -222px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -32px;
    margin-left: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 82px;
    margin-left: 197px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -90px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 75px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -71px;
    margin-right: 372px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -54px;
    margin-left: 185px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -106px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -339px;
    margin-left: 207px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 214px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 25px;
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 172px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 116px;
  }

  .u-section-2 .u-table-1 {
    /*width: 340px;*/
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 24px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -326px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-left: 99px;
  }
}

#sec-e572{
  display:none;
}

/***************************** Menù a tendina  **************************************/
#hamburger {
  display: none;
}
/*
.menuicon {
 	position:fixed;
	height:54px;
	width:54px;
	margin-left:5px;
	z-index:3;
}

.menuicon  span {
    display: block;
    top: 25px;
    width: 40px;
    height:3px;
    left:8px;
    background-color: rgb(255, 255, 255);
    position: relative;
	  border-radius:20px;
    transition-duration: 0;  
    transition-delay: .1s;
}
    
.menuicon  span::after, .menuicon  span::before {
    display: block;
    position: absolute;
    width: 40px;
    height:3px;
    background-color: rgb(34, 91, 175);
	border-radius:20px;
    transition-duration: .1s;
	-webkit-transition-delay: .1s, 0;
    transition-delay: .1s, 0;
}
.menuicon  span::before {
      margin-top: -10px;
}
.menuicon  span::after {
      margin-top: 10px;
}

#hamburger:checked ~ .menuicon span{
      background-color: rgba(0,0,0,0);
}
    
#hamburger:checked ~ .menuicon span::before {
      margin-top: 0px;
      -webkit-transition-delay: 0, .3s;
      -moz-transition-delay: 0, .3s;
      -ms-transition-delay: 0,.3s;
      -o-transition-delay: 0, .3s;
      transition-delay: 0, .3s;
}
	
#hamburger:checked ~ .menuicon span::after {
      margin-top: 0px;
      -webkit-transition-delay: 0, .3s;
      -moz-transition-delay: 0, .3s;
      -ms-transition-delay: 0,.3s;
      -o-transition-delay: 0, .3s;
      transition-delay: 0, .3s;
}

#hamburger:checked ~ .menuicon span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
}

#hamburger:checked ~ .menuicon span::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
}*/

/* ----------------- Apro il menu ------------------ */

/*#hamburger:checked ~ .menu-visibility {
	  visibility:visible;
}

#cascade ul {
  list-style:none;
}

#cascade ul li ul { 
	position:fixed;
	height:0;
	overflow:hidden;
	background-color: #A24038; 
  list-style:none;
}
	
#cascade ul li:hover ul{
	height:auto;
	position: absolute;
	right: 0;	
}

#cascade ul li ul li {
	font-size: 14px;
	font-weight: normal;
	float:none;
	padding:0;
	min-width: 160px;
	border-top: 1px solid #B3453E;
}

#cascade ul li ul li a {
	padding: 16px 32px;
	display: block;
	background-color: #A24038;
	color: #ffffff;
	font-weight: normal;
}

#cascade ul li ul li a:hover {
	background-color:#B3453E;
	color:#FF6759 ;
}

@media screen and (min-width: 980px){
	
  .menuicon{
    display:none; 
  }
  
  #cascade{
    z-index:2;
    margin-top: 50px;
    height:auto;
    background-color:rgb(20, 82, 133);
    transition:none;
    width:auto;
    float:left;
    right:12px;
    visibility:visible;
    font-family:'Roboto Slab', serif;
    overflow:inherit;
  }
  
  #cascade ul{
    padding:0;
  }
    
  #cascade ul li a {
    padding:0;
    display:inline;
    font-size:16px;
    color: #fff;
  }
  
  #cascade ul li a:hover {
    background-color:transparent;
    color:#FFFFFF ;
  }
    
  .submenu{
    padding-left: 0;
    color:#FFFFFF;
  }
  
  #cascade ul li {	
    margin:0;
    float:left;
    position:relative;
    padding:0 16px;
  }
  
  .submenu::after{
    content: url(img/arrow-down.svg);
    float: left;
    padding-left: 6px;
  }
  
  }*/


  /***************************** Menù a tendina 2 **************************************/
  #cascade {
    width : 300px; 
    background: #d9d9d9;
    margin : 40px auto; 
  }
  
  span {
    padding : 30px;
    background : #2d2f31; 
    color : white;
    font-size : 1.2em;
    font-variant : small-caps;
    cursor : pointer;
    display: block;
  }
  
  span::after {
    float: right;
    right: 10%;
    content: "+";
  }
  
  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    list-style: none;
    padding:0%;
  }
  
  .slide li {padding : 15px;}

  .slide li:hover {background : #2d2f31; font-weight: bold; cursor: pointer; color: white;}

  #touch {position: absolute; opacity: 0; height: 0px;}    
  
  #touch:checked + .slide {height: auto;} 

  select {
    height: 40px;
    text-align: center;
    margin-left: 25%;
    background-color: #dddddd;
  }

  option {
    height: 30px;
  }